[Unit]
Description=Search
After=network.target

[Service]
Type=simple
Restart=always
RestartSec=1
User=techlit
ExecStart=/usr/bin/env ruby /var/www/search/app.rb -p 3002

[Install]
WantedBy=multi-user.target